header{
    border-bottom: 1px solid #E5E7EB;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header{
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 142px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header .left{
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    padding-left: 32px;
}

.header .left a.logo{
    display: flex;
    align-items: center;
    height: 56px;
    width: 96px;

    svg{
        scale: 1.4;
        transform-origin: left center;
    }
}

.header .left a{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    cursor: pointer;
    white-space: nowrap;
    transition: color 0.15s;
}

.header .left a:hover{
    color: var(--orange-color);
}

.header .middle{
    display: flex;
    flex-direction: row;
    flex: 1;
    max-width: 448px;
    align-items: center;
    position: relative;
}

.header .middle div{
    height: 20px;
    width: 20px;
    position: absolute;
    left: 12px;
}

.header .middle input{
    background-color: var(--secondary-color);
    border-radius: 16px;
    flex: 1;
    min-width: 200px;
    height: 36px;
    border: 2px solid var(--secondary-color);
    padding-left: 40px;
    font-size: 14px;
    font-weight: 400;
    transition: border-color 0.15s;
}

.header .middle input:focus{
    outline: none;
    border-color: var(--orange-color);
}

.header .right {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    padding-right: 32px;
}

.header .right a{
    background-color: var(--secondary-color);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.15s;
}

.header .right a:hover{
    background-color: var(--light-orange-color);
}

.header .right .hamburger-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

/* Responsif */
@media (max-width: 1280px) {
    .header{
        gap: 32px;
        justify-content: space-between;
    }
}

@media (max-width: 875px){

    .header .right .hamburger-icon{
        display: flex;
    }

    .header .left .text-menu{
        display: none;
    }
    .mobile-menu{
        border-top: 1px solid #E5E7EB;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px 0;
        margin: 0 32px;
    }
    .mobile-menu a{
        height: 40px;
        display: flex;
        align-items: center;
        width: fit-content;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        white-space: nowrap;
        transition: color 0.15s;
    }

    .mobile-menu a:hover{
        color: var(--orange-color);
    }
     .header{
        margin-bottom: 41.62px;
    }
    .header .middle{
        position: absolute;
        left: 24px;
        right: 24px;
        top: 80px;
        max-width: none;
    }
    .mobile-menu{
       border-top: none; 
    }
    .header .left{
        padding-left: 24px;
    }
    .header .right{
        padding-right: 24px;
    }
    .mobile-menu{
        margin: 0 24px;
    }
}
/* Responsif */

