main.contact{
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 129px 32px 48px 32px;
  align-items: center;
}

main.contact .text-box{
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1216px;
  h1{
    font-size: 36px;
    font-weight: 700;
    color: var(--font-color);
    text-align: center;
  }
  p{
    font-size: 18px;
    font-weight: 400;
    color: #4A5565;
    text-align: center;
  }
}

main.contact .sosmed-card-box{
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
  max-width: 1216px;

  .sosmed-card.wa{
    border: 1.5px solid #00C950;
    background-color: #F0FDF4;

    .icon{
      background-color: #00C950;
    }

    h2{
      color: #00A63E;
    }
  }

  .sosmed-card.gmail{
    border: 1.5px solid #2B7FFF;
    background-color: #EEF2FF;

    .icon{
      background-color: #2B7FFF;
    }
    h2{
      color: #155DFC;
    }
  }

  .sosmed-card.ig{
    border: 1.5px solid #F6339A;
    background-color: #FFF1F2;

    .icon{
      background-color: #F6339A;
    }
    h2{
      color: #E60076;
    }
  }


  .sosmed-card{
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: center;
    flex: 1;
    padding: 24px;
    border: 1px solid grey;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.15s;

    .icon{
      background-color: grey;
      height: 64px;
      width: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 64px;
    }
    h1{
      font-size: 18px;
      font-weight: 700;
      color: var(--font-color);
      text-align: center;
    }

    p{
      font-size: 14px;
      font-weight: 400;
      color: #4A5565;
      flex: 1;
      text-align: center;
    }

    h2{
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      overflow-wrap: anywhere;
    }

    h3{
      font-size: 12px;
      font-weight: 400;
      color: #6A7282;
      text-align: center;
    }
  }
}

main.contact .more-info-box{
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  background-color: #FFF7ED;
  border: 1.5px solid #F54900;
  border-radius: 24px;
  width: calc(100% - 32px - 32px);
  max-width: calc(1216px - 32px - 32px);

  h1{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .more-info-card-box{
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: start;
    justify-content: center;

    div{
      flex: 1;
      display: flex;
      width: 100%;
      flex-direction: row;
      gap: 16px;

      .icon{
        height: 48px;
        max-width: 48px;
        border-radius: 16px;
        background-color: #FFEDD4;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .more-info{
        display: flex;
        flex-direction: column;
        gap: 4px;
        h1{
          font-size: 16px;
          font-weight: 700;
          color: var(--font-color);
          text-align: start;
        }
        p{
          font-size: 14px;
          font-weight: 400;
          color: #364153;
        }
      }
    }
  }
}

.any-question-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: calc(100% - 32px -32px);
    border-radius: 24px;
    padding: 32px;
    border: 1px solid #FFD6A8 ;

    h1{
      font-size: 20px;
      font-weight: 700;
      color: var(--font-color);
      text-align: center;
    }
    p{
      font-size: 16px;
      font-weight: 400;
      color: #4A5565;
      text-align: center;
    }

    div{
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: center;

      button{
        padding: 12px 24px;
        border-radius: 16px;
        display: flex;
        flex-direction:row;
        gap: 8px;
        font-size: 16px;
        color: var(--primary-color);
        font-weight: 400;
        color: var(--primary-color);
        border: none;
        transition: all 0.15s;
        cursor: pointer;

        svg{
          stroke: var(--primary-color);
        }
      }

      button.wa{
        background-color: #00C950;
      }

      button.email{
        background-color: #2B7FFF;
      }
    }
  }
@media (min-width: 875.1px){
  main.contact .sosmed-card-box {
    .sosmed-card:hover{
      scale: 1.02;
      box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    }
  }

  .any-question-box{
    button:hover{
      opacity: 0.85;
    }
  }
}


@media (max-width: 875px){
  main.contact{
    padding: 32px 24px;  
    gap: 32px;
  }
  main.contact .sosmed-card-box{
    flex-direction: column;
  }
  main.contact .sosmed-card-box {
    .sosmed-card:active{
      box-shadow: 0 4px 10px rgba(0,0,0,0.15);
      scale: 0.98;
    }
  }

  .any-question-box{
    button:active{
      opacity: 0.85;
    }
  }

  main.contact .more-info-box {
    gap: 24px;
    padding: 24px;
    width: calc(100% - 24px - 24px);
    .more-info-card-box {
        flex-direction: column;
        gap: 24px;
    }
  }

  main.contact .text-box {
    h1 {
        font-size: 30px;
    }

    p{
      font-size: 16px;
    }
  }
}
