main.profile{
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0px 32px;
  align-items: center;
  padding-top: 129px;
  padding-bottom: 48px;
}

main.profile .title-profile{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 1216px;

  h1{
    font-size: 36px;
    font-weight: 700;
    color: var(--font-color);
  }
  p{
    font-size: 16px;
    font-weight: 400;
    color: #4A5565;
  }
}

main.profile .information-box{
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid #E5E7EB;
  overflow: hidden;
  width: 100%;
  max-width: 1216px;
  
  .banner-profile{
    position: relative;
    width: 100%;
    height: 160px;
    background-color: var(--orange-color);
    img{
      position: absolute;
      height: 152px;
      width: 152px;
      left: 32px;
      background-color: grey;
      top: 80px;
      border-radius: 152px;
      overflow: hidden;
      border: 4px solid var(--primary-color);
    }
  }

  .detail-info-box{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 96px 32px 32px 32px;
  }
}

.detail-info-box .name-email-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  div{
    h1{
      width: fit-content;
      font-size: 24px;
      font-weight: 700;
      color: var(--font-color);
    }
    p{
      width: fit-content;
      font-size: 16px;
      font-weight: 400;
      color: #4A5565;
    }
  }
  button{
    padding: 12px 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
    height: fit-content;
    border: none;
    background-color: var(--orange-color);
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.15s;
  }
  button:hover{
    background-color: #ff4d00;
  }
}

.responsif-box{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
 
.responsif-box div{
  display: flex;
  flex-direction: row;
  gap: 24px;

  .each-detail-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    p{
      font-size: 14px;
      font-weight: 400;
      color: #364153;
    }
    .input-box{
      display: flex;
      flex-direction: row;
      gap: 12px;
      padding: 13px 12px;
      align-items: center;
      border: 1px solid #E5E7EB;
      background-color: var(--secondary-color);
      border-radius: 10px;

      h2{
        font-size: 16px;
        font-weight: 400;
        color: #0A0A0A;
      }
    }
  }
}

.each-detail-box.address{
  display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    p{
      font-size: 14px;
      font-weight: 400;
      color: #364153;
    }
    .input-box{
      display: flex;
      flex-direction: row;
      gap: 12px;
      min-height: 96px;
      padding: 13px 12px;
      align-items: start;
      border: 1px solid #E5E7EB;
      background-color: var(--secondary-color);
      border-radius: 10px;

      h2{
        font-size: 16px;
        font-weight: 400;
        color: #0A0A0A;
      }
    }
}


main.profile .information-box.change-pw{
  display: flex;
  padding: 32px 0;
  flex-direction: row;
  justify-content: space-between;

  .change-pw-box{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-left: 32px;
    align-items: center;

    .password-icon{
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      border-radius: 10px;
      background-color: #DBEAFE;
    }

    .text-box{
      display: flex;
      flex-direction: column;
      flex: 1;
      h1{
        font-size: 18px;
        font-weight: 700;
        color: var(--font-color);
      }
      p{
        font-size: 14px;
        font-weight: 400;
        color: #4A5565;
      }
    }
  }

  button{
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #155DFC;
    font-size: 14px;
    font-weight: 400;
    color: #155DFC;
    background-color: var(--primary-color);
    margin-right: 32px;
    cursor: pointer;
  }
}

.sign-out-button{
  width: 100%;
  max-width: 1216px;
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  background-color: #E7000B;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  padding: 10px 0;
  color: var(--primary-color);
  cursor: pointer;

  svg{
    stroke: white;
  }
}

@media (max-width: 875px) {

  main.profile .title-profile {
    h1 {
      font-size: 30px;
    }
    p{
      font-size: 16px;
    }
  }

  main.profile{
    gap: 24px;
    padding: 32px 24px 32px 24px;
  }

  main.profile .information-box {
      & .banner-profile {
          img {
            position: static;
          }
      }
  }

  .banner-profile div.box-img{
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
  }

  .detail-info-box .name-email-box {
    flex-direction: column;
    gap: 16px;

    div{
      width: 100%;
      h1{
        width: 100%;
        text-align: center;
      }
      p{
        width: 100%;
        text-align: center;
      }
    }

    button{
      width: 100%;
      justify-content: center;
    }
  }

  .responsif-box div {
    flex-direction: column;
    gap: 16px;
  }

  main.profile .information-box {
    .detail-info-box {
        gap: 24px;
        padding: 96px 24px 24px 24px;
    }
  }
  
  main.profile .information-box.change-pw {
    display: flex;
    padding: 24px 0;
    gap: 16px;
    flex-direction: column;
    justify-content: space-between;
  }

  main.profile .information-box.change-pw {
    .change-pw-box {
        margin-left: 24px;
        margin-right: 24px;
    }

    button{
      margin-left: 24px;
      margin-right: 24px;
    }
  }

  .responsif-box{
    gap: 16px;
  }
}

