main.contact .faq-box{
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 896px;

  .text{
    display: flex;
    flex-direction: column;
    gap: 12px;

    h1{
      font-size: 30px;
      font-weight: 700;
      padding: 0 32px;
      color: var(--font-color);
      text-align: center;
    }
    p{
      font-size: 16px;
      font-weight: 400;
      color: #4A5565;
      text-align: center;
      padding: 0 32px;
    }
  }

  .faq-list-box{
    display: flex;
    flex-direction: column;
    gap: 16px;


    div.question{
      display: flex;
      flex-direction: row;
      gap: 32px;
      justify-content: space-between;
      padding: 20px;
      transition: all 0.15s;
      svg{
        transition: all 0.15s;
        width: 20px;
        height: 20px;
      }

      svg.show{
        rotate: 180deg;
        path{
          stroke: var(--orange-color);
        }
      }

      p{
        font-size: 16px;
        font-weight: 500;
        flex: 1;
        color: var(--font-color);
      }
    }

    div.answer{
      padding: 20px;
      background-color: #f9fafbd0;
      border-top: 1px solid #E5E7EB;

      p{
        font-size: 14px;
        font-weight: 400;
        color: #364153;
      }
    }

    div.answer.hidden{
      display: none;
    }
  }
}

.faq{
    border-radius: 16px;
    border: 1px solid #E5E7EB;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.15s;
  }

@media (min-width: 875.1px){
  .faq:hover{
      background-color: #f9fafbd0;
      border-color: var(--orange-color);
    }
}

@media (max-width: 875px){
   main.contact .faq-box {
    & .any-question-box {
        div.any-question { 
          flex-direction: column;
          button{
            justify-content: center;
            width: 100%;
            font-size: 14px;
          }
        }
    }
}

main.contact .faq-box {
    & .text {
        h1 {
            padding: 0 24px;
            font-size: 24px;
        }
        p{
          padding: 0 24px;
        }
    }
}

main.contact .faq-box {
  gap: 24px;
    & .faq-list-box {
        & div {
            p {
                font-size: 14px;
            }
        }
    }
}
  .faq:active{
      background-color: #f9fafbd0;
    }
}